# Node modules
node_modules/

# Docker Compose
docker-compose.yml

# Output directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# IDE/editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: coverage reports if usas herramientas de testing
coverage/

# Optional: ts-node-dev cache
.tmp/
